{
    "openapi": "3.0.1",
    "info": {
        "title": "Apache DolphinScheduler Api Docs",
        "description": "Apache DolphinScheduler Api Docs",
        "version": "3.3.0"
    },
    "servers": [
        {
            "url": "http://www.sjjc.dolphinscheduler.dsj.com/dolphinscheduler",
            "description": "Generated server url"
        }
    ],
    "paths": {
        "/tenants/{id}": {
            "put": {
                "tags": [
                    "租户相关操作"
                ],
                "summary": "updateTenant",
                "description": "更新租户",
                "operationId": "updateTenant",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "租户ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "tenantCode",
                        "in": "query",
                        "description": "操作系统租户",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "queueId",
                        "in": "query",
                        "description": "队列ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "租户描述",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultBoolean"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "租户相关操作"
                ],
                "summary": "deleteTenantById",
                "description": "删除租户",
                "operationId": "deleteTenantById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "租户ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultBoolean"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/resources": {
            "get": {
                "tags": [
                    "资源中心相关操作"
                ],
                "summary": "queryResourceListPaging",
                "description": "分页查询资源列表",
                "operationId": "queryResourceListPaging",
                "parameters": [
                    {
                        "name": "fullName",
                        "in": "query",
                        "description": "RESOURCE_FULLNAME",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tenantCode",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "资源文件类型",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "FILE",
                                "UDF",
                                "ALL"
                            ]
                        }
                    },
                    {
                        "name": "pageNo",
                        "in": "query",
                        "description": "页码号",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "searchVal",
                        "in": "query",
                        "description": "搜索值",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "页大小",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultPageInfoStorageEntity"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "资源中心相关操作"
                ],
                "summary": "updateResource",
                "description": "在线更新资源文件",
                "operationId": "updateResource",
                "parameters": [
                    {
                        "name": "fullName",
                        "in": "query",
                        "description": "RESOURCE_FULLNAME",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tenantCode",
                        "in": "query",
                        "description": "操作系统租户",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "资源文件类型",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "FILE",
                                "UDF",
                                "ALL"
                            ]
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "资源文件名称",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "file",
                        "description": "资源文件",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "binary"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "file": {
                                        "type": "string",
                                        "description": "资源文件",
                                        "format": "binary"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultObject"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "资源中心相关操作"
                ],
                "summary": "createResource",
                "description": "创建资源",
                "operationId": "createResource",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "资源文件类型",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "FILE",
                                "UDF",
                                "ALL"
                            ]
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "资源文件名称",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "currentDir",
                        "in": "query",
                        "description": "RESOURCE_CURRENT_DIR",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "file",
                        "description": "资源文件",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "binary"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "file"
                                ],
                                "type": "object",
                                "properties": {
                                    "file": {
                                        "type": "string",
                                        "description": "资源文件",
                                        "format": "binary"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultObject"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "资源中心相关操作"
                ],
                "summary": "deleteResource",
                "description": "通过ID删除资源",
                "operationId": "deleteResource",
                "parameters": [
                    {
                        "name": "fullName",
                        "in": "query",
                        "description": "RESOURCE_FULLNAME",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tenantCode",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/resources/update-content": {
            "put": {
                "tags": [
                    "资源中心相关操作"
                ],
                "summary": "updateResourceContent",
                "description": "在线更新资源文件",
                "operationId": "updateResourceContent",
                "parameters": [
                    {
                        "name": "fullName",
                        "in": "query",
                        "description": "FULL_NAME",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tenantCode",
                        "in": "query",
                        "description": "操作系统租户",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "content",
                        "in": "query",
                        "description": "资源文件内容",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/resources/udf-func/{id}": {
            "put": {
                "tags": [
                    "资源中心相关操作"
                ],
                "summary": "updateUdfFunc",
                "description": "更新udf函数",
                "operationId": "updateUdfFunc",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "udf ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "UDF类型",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "HIVE",
                                "SPARK"
                            ]
                        }
                    },
                    {
                        "name": "funcName",
                        "in": "query",
                        "description": "函数名称",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "className",
                        "in": "query",
                        "description": "包名类名",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "argTypes",
                        "in": "query",
                        "description": "参数",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "database",
                        "in": "query",
                        "description": "数据库名",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "udf描述，使用说明",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fullName",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "资源中心相关操作"
                ],
                "summary": "deleteUdfFunc",
                "description": "删除UDF函数",
                "operationId": "deleteUdfFunc",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "UDF_FUNC_ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/queues/{id}": {
            "put": {
                "tags": [
                    "队列相关操作"
                ],
                "summary": "updateQueue",
                "description": "更新队列",
                "operationId": "updateQueue",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "队列ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "queue",
                        "in": "query",
                        "description": "hadoop yarn队列名",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "queueName",
                        "in": "query",
                        "description": "队列名",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultQueue"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "队列相关操作"
                ],
                "summary": "deleteQueueById",
                "description": "DELETE_QUEUE_NOTES",
                "operationId": "deleteQueueById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "队列ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultBoolean"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/projects/{projectCode}/task-definition/{code}": {
            "get": {
                "tags": [
                    "任务定义相关操作"
                ],
                "summary": "queryTaskDefinitionByCode",
                "description": "查询任务定义详情",
                "operationId": "queryTaskDefinitionDetail",
                "parameters": [
                    {
                        "name": "projectCode",
                        "in": "path",
                        "description": "项目Code",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "code",
                        "in": "path",
                        "description": "任务定义代码",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "任务定义相关操作"
                ],
                "summary": "update",
                "description": "更新任务定义",
                "operationId": "updateTaskDefinition",
                "parameters": [
                    {
                        "name": "projectCode",
                        "in": "path",
                        "description": "项目Code",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "code",
                        "in": "path",
                        "description": "任务定义代码",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "taskDefinitionJsonObj",
                        "in": "query",
                        "description": "任务定义JSON",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "任务定义相关操作"
                ],
                "summary": "deleteTaskDefinition",
                "description": "通过任务代码删除任务定义",
                "operationId": "deleteTaskDefinitionByCode",
                "parameters": [
                    {
                        "name": "projectCode",
                        "in": "path",
                        "description": "项目Code",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "code",
                        "in": "path",
                        "description": "任务定义代码",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/projects/{projectCode}/task-definition/{code}/with-upstream": {
            "put": {
                "tags": [
                    "任务定义相关操作"
                ],
                "summary": "updateWithUpstream",
                "description": "更新任务定义",
                "operationId": "updateTaskWithUpstream",
                "parameters": [
                    {
                        "name": "projectCode",
                        "in": "path",
                        "description": "项目Code",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "code",
                        "in": "path",
                        "description": "任务定义代码",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "taskDefinitionJsonObj",
                        "in": "query",
                        "description": "任务定义JSON",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "upstreamCodes",
                        "in": "query",
                        "description": "上游代码列表",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/projects/{projectCode}/schedules/{id}": {
            "put": {
                "tags": [
                    "定时相关操作"
                ],
                "summary": "updateSchedule",
                "description": "更新定时",
                "operationId": "updateSchedule",
                "parameters": [
                    {
                        "name": "projectCode",
                        "in": "path",
                        "description": "项目Code",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "定时ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "schedule",
                        "in": "query",
                        "description": "定时",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "warningType",
                        "in": "query",
                        "description": "发送策略",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "NONE",
                                "SUCCESS",
                                "FAILURE",
                                "ALL",
                                "GLOBAL"
                            ]
                        }
                    },
                    {
                        "name": "warningGroupId",
                        "in": "query",
                        "description": "发送组ID",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "failureStrategy",
                        "in": "query",
                        "description": "失败策略",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "END",
                                "CONTINUE"
                            ]
                        }
                    },
                    {
                        "name": "workerGroup",
                        "in": "query",
                        "description": "worker群组",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tenantCode",
                        "in": "query",
                        "description": "操作系统租户",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "environmentCode",
                        "in": "query",
                        "description": "环境代码",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "processInstancePriority",
                        "in": "query",
                        "description": "流程实例优先级",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "HIGHEST",
                                "HIGH",
                                "MEDIUM",
                                "LOW",
                                "LOWEST"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "定时相关操作"
                ],
                "summary": "deleteScheduleById",
                "description": "根据定时id删除定时数据",
                "operationId": "deleteScheduleById",
                "parameters": [
                    {
                        "name": "projectCode",
                        "in": "path",
                        "description": "项目Code",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "定时ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/projects/{projectCode}/schedules/update/{code}": {
            "put": {
                "tags": [
                    "定时相关操作"
                ],
                "summary": "updateScheduleByProcessDefinitionCode",
                "description": "UPDATE_SCHEDULE_BY_PROCESS_DEFINITION_CODE_NOTES",
                "operationId": "updateScheduleByProcessDefinitionCode",
                "parameters": [
                    {
                        "name": "projectCode",
                        "in": "path",
                        "description": "项目Code",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "code",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "schedule",
                        "in": "query",
                        "description": "定时",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "warningType",
                        "in": "query",
                        "description": "发送策略",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "NONE",
                                "SUCCESS",
                                "FAILURE",
                                "ALL",
                                "GLOBAL"
                            ]
                        }
                    },
                    {
                        "name": "warningGroupId",
                        "in": "query",
                        "description": "发送组ID",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "failureStrategy",
                        "in": "query",
                        "description": "失败策略",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "END",
                                "CONTINUE"
                            ]
                        }
                    },
                    {
                        "name": "workerGroup",
                        "in": "query",
                        "description": "worker群组",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tenantCode",
                        "in": "query",
                        "description": "操作系统租户",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "environmentCode",
                        "in": "query",
                        "description": "环境代码",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "processInstancePriority",
                        "in": "query",
                        "description": "流程实例优先级",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "HIGHEST",
                                "HIGH",
                                "MEDIUM",
                                "LOW",
                                "LOWEST"
                            ]
                        }
                    },
                    {
                        "name": "processDefinitionCode",
                        "description": "流程定义编码",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/projects/{projectCode}/project-preference": {
            "get": {
                "tags": [
                    "project preference related operation"
                ],
                "summary": "queryProjectPreferenceByProjectCode",
                "description": "query project preference",
                "operationId": "queryProjectPreferenceByProjectCode",
                "parameters": [
                    {
                        "name": "projectCode",
                        "in": "path",
                        "description": "项目Code",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "project preference related operation"
                ],
                "summary": "updateProjectPreference",
                "description": "update project preference",
                "operationId": "updateProjectPreference",
                "parameters": [
                    {
                        "name": "projectCode",
                        "in": "path",
                        "description": "项目Code",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "projectPreferences",
                        "in": "query",
                        "description": "project preferences",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "project preference related operation"
                ],
                "summary": "enableProjectPreference",
                "description": "update the state of the project preference",
                "operationId": "enableProjectPreference",
                "parameters": [
                    {
                        "name": "projectCode",
                        "in": "path",
                        "description": "项目Code",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "description": "the state of the project preference",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/projects/{projectCode}/project-parameter/{code}": {
            "get": {
                "tags": [
                    "项目参数相关操作"
                ],
                "summary": "queryProjectParameterByCode",
                "description": "查询项目参数",
                "operationId": "queryProjectParameterByCode",
                "parameters": [
                    {
                        "name": "projectCode",
                        "in": "path",
                        "description": "项目Code",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "code",
                        "in": "path",
                        "description": "项目参数code",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "项目参数相关操作"
                ],
                "summary": "updateProjectParameter",
                "description": "更新项目参数",
                "operationId": "updateProjectParameter",
                "parameters": [
                    {
                        "name": "projectCode",
                        "in": "path",
                        "description": "项目Code",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "code",
                        "in": "path",
                        "description": "项目参数code",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "projectParameterName",
                        "in": "query",
                        "description": "项目参数名称",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "projectParameterValue",
                        "in": "query",
                        "description": "项目参数值",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/projects/{projectCode}/process-instances/{id}": {
            "get": {
                "tags": [
                    "流程实例相关操作"
                ],
                "summary": "queryProcessInstanceById",
                "description": "通过流程实例ID查询流程实例",
                "operationId": "queryProcessInstanceById",
                "parameters": [
                    {
                        "name": "projectCode",
                        "in": "path",
                        "description": "项目Code",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "流程实例ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "流程实例相关操作"
                ],
                "summary": "updateProcessInstance",
                "description": "更新流程实例",
                "operationId": "updateProcessInstance",
                "parameters": [
                    {
                        "name": "projectCode",
                        "in": "path",
                        "description": "项目Code",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "taskRelationJson",
                        "in": "query",
                        "description": "TASK_RELATION_JSON",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "taskDefinitionJson",
                        "in": "query",
                        "description": "任务定义JSON",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "流程实例ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "scheduleTime",
                        "in": "query",
                        "description": "定时时间,空字符串表示当前天",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "syncDefine",
                        "in": "query",
                        "description": "更新流程实例的信息是否同步到流程定义",
                        "required": true,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "globalParams",
                        "in": "query",
                        "description": "PROCESS_GLOBAL_PARAMS",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "locations",
                        "in": "query",
                        "description": "流程实例节点坐标位置信息(json格式)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "timeout",
                        "in": "query",
                        "description": "PROCESS_TIMEOUT",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "流程实例相关操作"
                ],
                "summary": "deleteProcessInstanceById",
                "description": "通过流程实例ID删除流程实例",
                "operationId": "deleteProcessInstanceById",
                "parameters": [
                    {
                        "name": "projectCode",
                        "in": "path",
                        "description": "项目Code",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "流程实例ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultVoid"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/projects/{projectCode}/process-definition/{code}": {
            "get": {
                "tags": [
                    "流程定义相关操作"
                ],
                "summary": "queryProcessDefinitionByCode",
                "description": "QUERY_PROCESS_DEFINITION_BY_CODE_NOTES",
                "operationId": "queryProcessDefinitionByCode",
                "parameters": [
                    {
                        "name": "projectCode",
                        "in": "path",
                        "description": "项目Code",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "code",
                        "in": "path",
                        "description": "流程定义编码",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "流程定义相关操作"
                ],
                "summary": "update",
                "description": "更新流程定义",
                "operationId": "updateProcessDefinition",
                "parameters": [
                    {
                        "name": "projectCode",
                        "in": "path",
                        "description": "项目Code",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "流程定义名称",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "code",
                        "in": "path",
                        "description": "流程定义编码",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "流程定义描述信息",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "globalParams",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "[]"
                        }
                    },
                    {
                        "name": "locations",
                        "in": "query",
                        "description": "流程定义节点坐标位置信息(json格式)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "timeout",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 0
                        }
                    },
                    {
                        "name": "taskRelationJson",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "taskDefinitionJson",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "executionType",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "PARALLEL",
                                "SERIAL_WAIT",
                                "SERIAL_DISCARD",
                                "SERIAL_PRIORITY"
                            ],
                            "default": "PARALLEL"
                        }
                    },
                    {
                        "name": "releaseState",
                        "in": "query",
                        "description": "发布流程定义",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "OFFLINE",
                                "ONLINE"
                            ]
                        }
                    },
                    {
                        "name": "otherParamsJson",
                        "description": "OTHER_PARAMS_JSON",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "流程定义相关操作"
                ],
                "summary": "deleteByCode",
                "description": "通过流程定义ID删除流程定义",
                "operationId": "deleteProcessDefinitionByCode",
                "parameters": [
                    {
                        "name": "projectCode",
                        "in": "path",
                        "description": "项目Code",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "code",
                        "in": "path",
                        "description": "流程定义编码",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/projects/{code}": {
            "get": {
                "tags": [
                    "项目相关操作"
                ],
                "summary": "queryProjectByCode",
                "description": "通过项目ID查询项目信息",
                "operationId": "queryProjectByCode",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "项目Code",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "项目相关操作"
                ],
                "summary": "update",
                "description": "更新项目",
                "operationId": "updateProject",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "项目Code",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "projectName",
                        "in": "query",
                        "description": "项目名称",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "项目描述",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "项目相关操作"
                ],
                "summary": "delete",
                "description": "通过ID删除项目",
                "operationId": "deleteProject",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "项目Code",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/datasources/{id}": {
            "get": {
                "tags": [
                    "数据源相关操作"
                ],
                "summary": "queryDataSource",
                "description": "查询数据源通过ID",
                "operationId": "queryDataSource",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "数据源ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultObject"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "数据源相关操作"
                ],
                "summary": "updateDataSource",
                "description": "更新数据源",
                "operationId": "updateDataSource",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "数据源ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "dataSourceParam",
                        "description": "数据源参数",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/BaseDataSourceParamDTO"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultDataSource"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "数据源相关操作"
                ],
                "summary": "deleteDataSource",
                "description": "删除数据源",
                "operationId": "deleteDataSource",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "数据源ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultBoolean"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/alert-plugin-instances/{id}": {
            "get": {
                "tags": [
                    "告警插件实例相关操作"
                ],
                "summary": "getAlertPluginInstance",
                "description": "查询告警插件实例",
                "operationId": "getAlertPluginInstance",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultAlertPluginInstance"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "告警插件实例相关操作"
                ],
                "summary": "updateAlertPluginInstance",
                "description": "更新告警插件实例",
                "operationId": "updateAlertPluginInstanceById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "instanceName",
                        "in": "query",
                        "description": "告警插件实例名称",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "warningType",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "NONE",
                                "SUCCESS",
                                "FAILURE",
                                "ALL",
                                "GLOBAL"
                            ]
                        }
                    },
                    {
                        "name": "pluginInstanceParams",
                        "in": "query",
                        "description": "告警插件实例参数",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "alertPluginInstanceId",
                        "description": "告警插件实例ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultAlertPluginInstance"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "告警插件实例相关操作"
                ],
                "summary": "deleteAlertPluginInstance",
                "description": "删除告警插件实例",
                "operationId": "deleteAlertPluginInstance",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "告警插件ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultBoolean"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/alert-groups/{id}": {
            "put": {
                "tags": [
                    "告警组相关操作"
                ],
                "summary": "updateAlertGroup",
                "description": "编辑(更新)告警组",
                "operationId": "updateAlertGroupById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "告警组ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "groupName",
                        "in": "query",
                        "description": "组名称",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "备注(描述)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "alertInstanceIds",
                        "in": "query",
                        "description": "告警实例ID列表(字符串格式，多个告警实例ID以\",\"分割)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultAlertGroup"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "告警组相关操作"
                ],
                "summary": "delAlertGroupById",
                "description": "通过ID删除告警组",
                "operationId": "deleteAlertGroupById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "告警组ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultBoolean"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/access-tokens/{id}": {
            "put": {
                "tags": [
                    "访问token相关操作"
                ],
                "summary": "updateToken",
                "description": "更新指定用户的安全令牌",
                "operationId": "updateToken",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "安全令牌的ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "query",
                        "description": "用户ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "expireTime",
                        "in": "query",
                        "description": "安全令牌的过期时间",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "2021-12-31 00:00:00"
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "安全令牌字符串，若未显式指定将会自动生成",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "xxxx"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultAccessToken"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "访问token相关操作"
                ],
                "summary": "deleteToken",
                "description": "DELETE_TOKEN_NOTES",
                "operationId": "delAccessTokenById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultBoolean"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/worker-groups": {
            "get": {
                "tags": [
                    "Worker分组管理"
                ],
                "summary": "queryAllWorkerGroupsPaging",
                "description": "Worker分组管理",
                "operationId": "queryAllWorkerGroupsPaging",
                "parameters": [
                    {
                        "name": "pageNo",
                        "in": "query",
                        "description": "页码号",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "页大小",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "searchVal",
                        "in": "query",
                        "description": "搜索值",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Worker分组管理"
                ],
                "summary": "saveWorkerGroup",
                "description": "创建Worker分组",
                "operationId": "saveWorkerGroup",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Worker Server分组ID",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Worker分组名称",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "addrList",
                        "in": "query",
                        "description": "worker地址列表",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "WORKER_DESC",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "otherParamsJson",
                        "in": "query",
                        "description": "WORKER_PARAMS_JSON",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/update": {
            "post": {
                "tags": [
                    "用户相关操作"
                ],
                "summary": "updateUser",
                "description": "更新用户",
                "operationId": "updateUser",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "用户ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "userName",
                        "in": "query",
                        "description": "用户名",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "userPassword",
                        "in": "query",
                        "description": "用户密码",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "queue",
                        "in": "query",
                        "description": "使用的队列",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "邮箱",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "query",
                        "description": "租户ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "手机号",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "description": "状态",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "timeZone",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultUser"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/revoke-project": {
            "post": {
                "tags": [
                    "用户相关操作"
                ],
                "summary": "revokeProject",
                "description": "撤销用户的项目权限",
                "operationId": "revokeProject",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "query",
                        "description": "用户ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "projectCode",
                        "in": "query",
                        "description": "项目Code",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/revoke-project-by-id": {
            "post": {
                "tags": [
                    "用户相关操作"
                ],
                "summary": "revokeProjectById",
                "description": "撤销用户的项目权限",
                "operationId": "revokeProjectById",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "query",
                        "description": "用户ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "projectIds",
                        "in": "query",
                        "description": "项目IDS(字符串格式，多个项目以\",\"分割)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/register": {
            "post": {
                "tags": [
                    "用户相关操作"
                ],
                "summary": "registerUser",
                "description": "用户注册",
                "operationId": "registerUser",
                "parameters": [
                    {
                        "name": "userName",
                        "in": "query",
                        "description": "用户名",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "userPassword",
                        "in": "query",
                        "description": "用户密码",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "repeatPassword",
                        "in": "query",
                        "description": "重复密码",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "邮箱",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultObject"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/grant-udf-func": {
            "post": {
                "tags": [
                    "用户相关操作"
                ],
                "summary": "grantUDFFunc",
                "description": "授权udf函数",
                "operationId": "grantUDFFunc",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "query",
                        "description": "用户ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "udfIds",
                        "in": "query",
                        "description": "udf函数id列表(字符串格式，多个udf函数ID以\",\"分割)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/grant-project": {
            "post": {
                "tags": [
                    "用户相关操作"
                ],
                "summary": "grantProject",
                "description": "授权项目",
                "operationId": "grantProject",
[...]
